<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        --sidebar-padding: 8px;
        --sidebar-header-font-size: 1.25rem;
        --sidebar-header-font: 'Arial';
        --sidenav-font: 'Arial';
      }
    </style>
  </head>
  <body>
    <script>
      window.addEventListener("load", () => {
        console.info("LOADED");
        const nav = document.querySelector("design-docs-sidenav");
        console.info("Sidenav:", nav);
        nav.routes = [
          {
            label: "Intro",
            path: "intro",
          },
          {
            label: "Typography",
            path: "style/typography",
          },
          {
            label: "Flat Button",
            path: "buttons/flat",
            group: "Buttons",
          },
          {
            label: "Icon Button",
            path: "buttons/icon",
            group: "Buttons",
          },
        ];
        nav.routeTree = [
          {
            type: "route",
            index: 0,
          },
          {
            type: "route",
            index: 1,
          },
          {
            type: "group",
            label: "Buttons",
            children: [
              {
                type: "route",
                index: 2,
              },
              {
                type: "route",
                index: 3,
              },
            ],
          },
        ];
      });
    </script>
    <design-docs-root>
      <design-docs-sidebar slot="sidebar">
        <design-docs-sidebar-header logoSrc="./logo.svg" slot="header"
          >DesignDocs Demo</design-docs-sidebar-header
        >
        <design-docs-sidenav slot="content" searchable></design-docs-sidenav>
      </design-docs-sidebar>
      <div style="flex: 1" slot="content">x</div>
    </design-docs-root>
  </body>
</html>
